<div class="container" style="margin-top: 55px; margin-bottom: 32px">
  <div class="row">
	  <div class="panel panel-default" ng-show="toConfirm.length > 0">
      <div class="panel-heading custstyle textcenter"><b>Partite da Confermare</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div ng-carousel
              ng-carousel-name="confirm-matches"
              ng-carousel-watch="toConfirm"
              ng-carousel-loop="false"
              style="height: 170px"
            >
              <slidecontainer>
                <slide ng-repeat="message in toConfirm">
                  <div class="showsms">
                    <p>{{message}}</p>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">
                        <button class="btn btn-block btn-success" ng-click="confirmMatch()">
                          <span class="glyphicon glyphicon-earphone"></span> Conferma
                        </button>
                      </div>
                    </div>
                  </div>
                </slide>
              </slidecontainer>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="carousel-arrow carousel-arrow-left col-xs-2" >
            <button class="btn btn-block btn-trasp" ng-click="Carousel.get('confirm-matches').previous()">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          </div>
          <div class="col-xs-8 textcenter">
            {{Carousel.get('confirm-matches').currentSlide + 1}} di {{Carousel.get('confirm-matches').slidesCount}}
          </div>
          <div class="carousel-arrow carousel-arrow-right col-xs-2">
            <button class="btn btn-block btn-trasp" ng-click="Carousel.get('confirm-matches').next()">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show="toConfirm.length == 0">
      <div class="panel-heading custstyle textcenter"><b>Partite da Confermare</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            Non ci sono partite da confermare
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="carousel-arrow carousel-arrow-left col-xs-2" >
            <button class="btn btn-block btn-trasp disabled" ng-click="Carousel.get('confirm-matches').previous()">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          </div>
          <div class="col-xs-8 textcenter">
            0 di 0
          </div>
          <div class="carousel-arrow carousel-arrow-right col-xs-2">
            <button class="btn btn-block btn-trasp disabled" ng-click="Carousel.get('confirm-matches').next()">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
	  <div class="panel panel-default">
      <div class="panel-heading custstyle"><b>Partite da Confermare</b></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <b>Tessera Arbitro: </b>{{user.id_ref}}<br>
	          <b>Nome: </b>{{user.name}}<br>
	          <b>Cognome: </b> {{user.surname}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
